<%- include("partials/header"); -%>

<div class="center row">
  <div >
    <input
      placeholder="Search"
      id="search-input"
      class="form-control"
      type="text"
    />
  </div>
  <div class="center row ">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">State</th>
      <th scope="col">Number</th>
    </tr>
  </thead>
  <tbody>
<% contactArray.forEach((contact,i)=>{ %>
    <tr>
      <th scope="row"><%=i+1%></th>
      <td><%=contact.loc%></td>
      <td><%=contact.number%></td>
    </tr>
<% }); %>
  </tbody>
</table>
</div>
</div>

<div class="row center primary-contacts">
  <div class="col-sm-4">
    Phone: <%=primaryContacts.number%>
  </div>
  <div class="col-sm-4">
    Tollfree Number: 1075
  </div>
  <div class="col-sm-4">
    Email: <%=primaryContacts.email%>
  </div>
  <div class="row center primary-contacts links">
    <div class="col-sm-6">
      <a href="<%=primaryContacts.twitter%>"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-6">
      <a href="<%=primaryContacts.facebook%>"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
