<%- include("partials/header"); -%>

  <section class=" animate__animated animate__slideInDown">
    <div class="row banner center">
      <div class="col-lg 4 banner-text animate__animated animate__slideInUp">
        <h1>Stay Home.</h1>
        <h1>Stay Safe.</h1>
      </div>
      <div class="col-lg-8">
        <img class="banner-img" src="images/banner.jpg" alt="">
      </div>

      <!-- <a href="https://www.freepik.com/vectors/health">Health vector created by freepik - www.freepik.com</a> -->
    </div>
  </section>

<hr class="section-divider">
<section id="quickinfo">
  <div class="row center">
    <div class="col-md-12">
      <h1>Quick Info</h1>
      <hr>
    </div>
  </div>
  <div class="row center">
    <div class="col-md-4 confirmed">
      <img src="https://img.icons8.com/carbon-copy/90/000000/coronavirus.png"/>
      <h4> Total cases:</h4>
      <h2 class="count"><%=quickinfo.total%></h2>
    </div>
    <div class="col-md-4 recovered">
      <img src="https://img.icons8.com/pastel-glyph/90/000000/bandage.png"/>
      <h4>Recovered:</h4>
      <h2 class="count"><%=quickinfo.discharged%></h2>
    </div>
    <div class="col-md-4 deceased">
      <img src="https://img.icons8.com/pastel-glyph/80/000000/headstone--v2.png"/ style="padding-bottom:6px">
      <h4>Deaths:</h4>
      <h2 class="count"><%=quickinfo.deaths%></h2>
    </div>
  </div>
  <div class="row center">
    <div class="col-sm-12">
      <a href="/graphs"><button class="btn btn-primary btn-lg" name="button">View Graphs📈📉</button></a>
    </div>
  </div>
  <hr>
  <div class="row center">
    <div class="col-md-3">
      <h2 style="padding-top:50px">Most affected</h2>
      <h2>   States:
      </h2>
    </div>
    <div class="col-md-3">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="100" height="100"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M86,46.58333c-25.8,0 -46.58333,20.78333 -46.58333,46.58333c0,25.8 20.78333,46.58333 46.58333,46.58333c25.8,0 46.58333,-20.78333 46.58333,-46.58333c0,-25.8 -20.78333,-46.58333 -46.58333,-46.58333zM86,125.41667c-17.91667,0 -32.25,-14.33333 -32.25,-32.25c0,-17.91667 14.33333,-32.25 32.25,-32.25c17.91667,0 32.25,14.33333 32.25,32.25c0,17.91667 -14.33333,32.25 -32.25,32.25z"></path><path d="M30.45833,91.01667c14.33333,-7.88333 32.25,-3.94167 41.20833,8.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l4.3,-2.50833c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c0,-0.71667 -0.35833,-1.43333 -0.35833,-2.15v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833c0,0 0,0 0.35833,0c0.71667,-0.35833 1.43333,-0.71667 1.79167,-0.71667c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-4.65833c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-16.125,-1.43333 -28.66667,-14.69167 -28.66667,-30.81667c0,-14.69167 10.75,-27.23333 24.725,-30.1c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-1.79167c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-20.06667,3.225 -35.83333,20.78333 -35.83333,41.925c0,4.65833 0.71667,9.31667 2.15,13.61667c-4.3,0.71667 -8.95833,2.50833 -12.9,4.65833c-18.63333,10.75 -26.15833,32.96667 -18.63333,51.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l1.075,-0.71667c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c-4.3,-13.61667 1.075,-29.025 14.33333,-36.19167zM139.75,76.68333c-4.3,-2.50833 -8.6,-3.94167 -12.9,-4.65833c1.43333,-4.3 2.15,-8.6 2.15,-13.61667c0,-21.14167 -15.76667,-38.7 -36.55,-41.925c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v1.43333c0,0.35833 0.35833,0.71667 0.71667,1.075c14.33333,2.86667 24.725,15.40833 24.725,30.1c0,16.125 -12.54167,29.38333 -28.66667,30.81667c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v4.65833c0,0.35833 0.35833,0.71667 0.71667,1.075c0.71667,0.35833 1.43333,0.35833 2.15,0.71667v0l0.35833,0.35833v0c0.35833,0 0.35833,0.35833 0.35833,0.35833v0c0.35833,0.35833 0.71667,0.71667 1.075,1.075v0l0.35833,0.35833v0l0.35833,0.35833v0.35833v0.35833c0,0 0,0.35833 0.35833,0.35833v0c0,0.35833 0,0.35833 0.35833,0.71667v0c0,0.35833 0,0.35833 0,0.71667v0c0,0.35833 0,0.35833 0,0.71667c0,0 0,0 0,0.35833v0.35833c0,0 0,0 0,0.35833c0,0.71667 0,1.43333 -0.35833,2.15c0,0.35833 0,0.71667 0.35833,1.075l4.3,2.50833c0.35833,0.35833 0.71667,0 1.075,-0.35833c9.31667,-12.9 27.23333,-17.2 41.20833,-8.95833c12.9,7.525 18.63333,22.575 13.975,36.19167c0,0.35833 0,0.71667 0.35833,1.075l1.075,0.71667c0.35833,0.35833 0.71667,0 1.075,-0.35833c8.95833,-19.35 1.43333,-41.56667 -17.2,-51.95833zM110.36667,144.40833c-14.33333,-7.88333 -19.70833,-25.44167 -12.54167,-39.775c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-4.3,-2.50833c-0.35833,-0.35833 -0.71667,0 -1.075,0c-0.71667,0.35833 -1.075,1.075 -1.79167,1.075v0c-0.35833,0 -0.35833,0.35833 -0.71667,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0.35833v0c-0.35833,0 -1.075,0.35833 -1.43333,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0c0,0 0,0 -0.35833,0h-0.35833h-0.35833h-0.35833h-0.35833c0,0 0,0 -0.35833,0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,-0.35833v0c0,0 -0.35833,0 -0.35833,-0.35833c0,0 0,0 -0.35833,0c-0.71667,-0.35833 -1.075,-0.71667 -1.79167,-1.075c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,0l-4.3,2.50833c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c6.80833,14.33333 1.43333,31.53333 -12.54167,39.775c-12.9,7.525 -29.38333,4.65833 -39.05833,-6.09167c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,-0.35833l-1.075,0.71667c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c12.9,16.125 36.55,20.78333 55.18333,10.03333c4.3,-2.50833 7.88333,-5.375 10.75,-8.6c2.86667,3.225 6.45,6.45 10.75,8.6c18.63333,10.75 41.925,5.73333 55.18333,-10.03333c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-1.075,-1.075c-0.35833,-0.35833 -0.71667,0 -1.075,0.35833c-9.675,10.39167 -26.15833,13.25833 -39.05833,6.09167z"></path></g></g></svg>
      <h3><%= stateInfo[0].loc%></h3>
      <h4 class="count"><%= stateInfo[0].totalConfirmed%></h4>
    </div>
    <div class="col-md-3">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="90" height="90"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e67e22"><path d="M86,46.58333c-25.8,0 -46.58333,20.78333 -46.58333,46.58333c0,25.8 20.78333,46.58333 46.58333,46.58333c25.8,0 46.58333,-20.78333 46.58333,-46.58333c0,-25.8 -20.78333,-46.58333 -46.58333,-46.58333zM86,125.41667c-17.91667,0 -32.25,-14.33333 -32.25,-32.25c0,-17.91667 14.33333,-32.25 32.25,-32.25c17.91667,0 32.25,14.33333 32.25,32.25c0,17.91667 -14.33333,32.25 -32.25,32.25z"></path><path d="M30.45833,91.01667c14.33333,-7.88333 32.25,-3.94167 41.20833,8.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l4.3,-2.50833c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c0,-0.71667 -0.35833,-1.43333 -0.35833,-2.15v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833c0,0 0,0 0.35833,0c0.71667,-0.35833 1.43333,-0.71667 1.79167,-0.71667c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-4.65833c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-16.125,-1.43333 -28.66667,-14.69167 -28.66667,-30.81667c0,-14.69167 10.75,-27.23333 24.725,-30.1c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-1.79167c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-20.06667,3.225 -35.83333,20.78333 -35.83333,41.925c0,4.65833 0.71667,9.31667 2.15,13.61667c-4.3,0.71667 -8.95833,2.50833 -12.9,4.65833c-18.63333,10.75 -26.15833,32.96667 -18.63333,51.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l1.075,-0.71667c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c-4.3,-13.61667 1.075,-29.025 14.33333,-36.19167zM139.75,76.68333c-4.3,-2.50833 -8.6,-3.94167 -12.9,-4.65833c1.43333,-4.3 2.15,-8.6 2.15,-13.61667c0,-21.14167 -15.76667,-38.7 -36.55,-41.925c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v1.43333c0,0.35833 0.35833,0.71667 0.71667,1.075c14.33333,2.86667 24.725,15.40833 24.725,30.1c0,16.125 -12.54167,29.38333 -28.66667,30.81667c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v4.65833c0,0.35833 0.35833,0.71667 0.71667,1.075c0.71667,0.35833 1.43333,0.35833 2.15,0.71667v0l0.35833,0.35833v0c0.35833,0 0.35833,0.35833 0.35833,0.35833v0c0.35833,0.35833 0.71667,0.71667 1.075,1.075v0l0.35833,0.35833v0l0.35833,0.35833v0.35833v0.35833c0,0 0,0.35833 0.35833,0.35833v0c0,0.35833 0,0.35833 0.35833,0.71667v0c0,0.35833 0,0.35833 0,0.71667v0c0,0.35833 0,0.35833 0,0.71667c0,0 0,0 0,0.35833v0.35833c0,0 0,0 0,0.35833c0,0.71667 0,1.43333 -0.35833,2.15c0,0.35833 0,0.71667 0.35833,1.075l4.3,2.50833c0.35833,0.35833 0.71667,0 1.075,-0.35833c9.31667,-12.9 27.23333,-17.2 41.20833,-8.95833c12.9,7.525 18.63333,22.575 13.975,36.19167c0,0.35833 0,0.71667 0.35833,1.075l1.075,0.71667c0.35833,0.35833 0.71667,0 1.075,-0.35833c8.95833,-19.35 1.43333,-41.56667 -17.2,-51.95833zM110.36667,144.40833c-14.33333,-7.88333 -19.70833,-25.44167 -12.54167,-39.775c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-4.3,-2.50833c-0.35833,-0.35833 -0.71667,0 -1.075,0c-0.71667,0.35833 -1.075,1.075 -1.79167,1.075v0c-0.35833,0 -0.35833,0.35833 -0.71667,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0.35833v0c-0.35833,0 -1.075,0.35833 -1.43333,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0c0,0 0,0 -0.35833,0h-0.35833h-0.35833h-0.35833h-0.35833c0,0 0,0 -0.35833,0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,-0.35833v0c0,0 -0.35833,0 -0.35833,-0.35833c0,0 0,0 -0.35833,0c-0.71667,-0.35833 -1.075,-0.71667 -1.79167,-1.075c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,0l-4.3,2.50833c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c6.80833,14.33333 1.43333,31.53333 -12.54167,39.775c-12.9,7.525 -29.38333,4.65833 -39.05833,-6.09167c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,-0.35833l-1.075,0.71667c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c12.9,16.125 36.55,20.78333 55.18333,10.03333c4.3,-2.50833 7.88333,-5.375 10.75,-8.6c2.86667,3.225 6.45,6.45 10.75,8.6c18.63333,10.75 41.925,5.73333 55.18333,-10.03333c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-1.075,-1.075c-0.35833,-0.35833 -0.71667,0 -1.075,0.35833c-9.675,10.39167 -26.15833,13.25833 -39.05833,6.09167z"></path></g></g></svg>
      <h3><%= stateInfo[1].loc%></h3>
      <h4 class="count"><%= stateInfo[1].totalConfirmed%></h4>
    </div>
    <div class="col-md-3">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="90" height="90"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#f1c40f"><path d="M86,46.58333c-25.8,0 -46.58333,20.78333 -46.58333,46.58333c0,25.8 20.78333,46.58333 46.58333,46.58333c25.8,0 46.58333,-20.78333 46.58333,-46.58333c0,-25.8 -20.78333,-46.58333 -46.58333,-46.58333zM86,125.41667c-17.91667,0 -32.25,-14.33333 -32.25,-32.25c0,-17.91667 14.33333,-32.25 32.25,-32.25c17.91667,0 32.25,14.33333 32.25,32.25c0,17.91667 -14.33333,32.25 -32.25,32.25z"></path><path d="M30.45833,91.01667c14.33333,-7.88333 32.25,-3.94167 41.20833,8.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l4.3,-2.50833c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c0,-0.71667 -0.35833,-1.43333 -0.35833,-2.15v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,-0.35833 0,-0.35833 0.35833,-0.71667v0c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833c0,0 0,-0.35833 0.35833,-0.35833l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833v0l0.35833,-0.35833c0,0 0,0 0.35833,0c0.71667,-0.35833 1.43333,-0.71667 1.79167,-0.71667c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-4.65833c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-16.125,-1.43333 -28.66667,-14.69167 -28.66667,-30.81667c0,-14.69167 10.75,-27.23333 24.725,-30.1c0.35833,0 0.71667,-0.35833 0.71667,-1.075v-1.79167c0,-0.35833 -0.35833,-0.71667 -0.71667,-0.71667c-20.06667,3.225 -35.83333,20.78333 -35.83333,41.925c0,4.65833 0.71667,9.31667 2.15,13.61667c-4.3,0.71667 -8.95833,2.50833 -12.9,4.65833c-18.63333,10.75 -26.15833,32.96667 -18.63333,51.95833c0.35833,0.35833 0.71667,0.35833 1.075,0.35833l1.075,-0.71667c0.35833,-0.35833 0.71667,-0.71667 0.35833,-1.075c-4.3,-13.61667 1.075,-29.025 14.33333,-36.19167zM139.75,76.68333c-4.3,-2.50833 -8.6,-3.94167 -12.9,-4.65833c1.43333,-4.3 2.15,-8.6 2.15,-13.61667c0,-21.14167 -15.76667,-38.7 -36.55,-41.925c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v1.43333c0,0.35833 0.35833,0.71667 0.71667,1.075c14.33333,2.86667 24.725,15.40833 24.725,30.1c0,16.125 -12.54167,29.38333 -28.66667,30.81667c-0.35833,0 -0.71667,0.35833 -0.71667,0.71667v4.65833c0,0.35833 0.35833,0.71667 0.71667,1.075c0.71667,0.35833 1.43333,0.35833 2.15,0.71667v0l0.35833,0.35833v0c0.35833,0 0.35833,0.35833 0.35833,0.35833v0c0.35833,0.35833 0.71667,0.71667 1.075,1.075v0l0.35833,0.35833v0l0.35833,0.35833v0.35833v0.35833c0,0 0,0.35833 0.35833,0.35833v0c0,0.35833 0,0.35833 0.35833,0.71667v0c0,0.35833 0,0.35833 0,0.71667v0c0,0.35833 0,0.35833 0,0.71667c0,0 0,0 0,0.35833v0.35833c0,0 0,0 0,0.35833c0,0.71667 0,1.43333 -0.35833,2.15c0,0.35833 0,0.71667 0.35833,1.075l4.3,2.50833c0.35833,0.35833 0.71667,0 1.075,-0.35833c9.31667,-12.9 27.23333,-17.2 41.20833,-8.95833c12.9,7.525 18.63333,22.575 13.975,36.19167c0,0.35833 0,0.71667 0.35833,1.075l1.075,0.71667c0.35833,0.35833 0.71667,0 1.075,-0.35833c8.95833,-19.35 1.43333,-41.56667 -17.2,-51.95833zM110.36667,144.40833c-14.33333,-7.88333 -19.70833,-25.44167 -12.54167,-39.775c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-4.3,-2.50833c-0.35833,-0.35833 -0.71667,0 -1.075,0c-0.71667,0.35833 -1.075,1.075 -1.79167,1.075v0c-0.35833,0 -0.35833,0.35833 -0.71667,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0.35833v0c-0.35833,0 -1.075,0.35833 -1.43333,0.35833v0c-0.35833,0 -0.35833,0 -0.71667,0c0,0 0,0 -0.35833,0h-0.35833h-0.35833h-0.35833h-0.35833c0,0 0,0 -0.35833,0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,0v0c-0.35833,0 -0.35833,0 -0.71667,-0.35833v0c0,0 -0.35833,0 -0.35833,-0.35833c0,0 0,0 -0.35833,0c-0.71667,-0.35833 -1.075,-0.71667 -1.79167,-1.075c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,0l-4.3,2.50833c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c6.80833,14.33333 1.43333,31.53333 -12.54167,39.775c-12.9,7.525 -29.38333,4.65833 -39.05833,-6.09167c-0.35833,-0.35833 -0.71667,-0.35833 -1.075,-0.35833l-1.075,0.71667c-0.35833,0.35833 -0.35833,0.71667 -0.35833,1.075c12.9,16.125 36.55,20.78333 55.18333,10.03333c4.3,-2.50833 7.88333,-5.375 10.75,-8.6c2.86667,3.225 6.45,6.45 10.75,8.6c18.63333,10.75 41.925,5.73333 55.18333,-10.03333c0.35833,-0.35833 0,-0.71667 -0.35833,-1.075l-1.075,-1.075c-0.35833,-0.35833 -0.71667,0 -1.075,0.35833c-9.675,10.39167 -26.15833,13.25833 -39.05833,6.09167z"></path></g></g></svg>
      <h3><%= stateInfo[2].loc%></h3>
      <h4 class="count"><%= stateInfo[2].totalConfirmed%></h4>
    </div>
  </div>
</section>
<hr class="section-divider">

  <section class="symptoms ">
    <h3 class="heading-section">SYMPTOMS</h3>
    <hr>
        <div class="row">
            <div class="col-lg-4 col1">
                <img src="images/fever.png" alt="fever" class="symptom-pic">
                <h4 class="heading-symptoms">Fever</h4>
                <p class="para-symptoms">Normal body temperatures are different for everyone, but they lie within the range of 97 to 99. A temperature of 100.4 or higher is considered a fever.</p>
            </div>

            <div class="col-lg-4 col1">
                <img src="images/cough.png" alt="cough" class="symptom-pic">
                <h4 class="heading-symptoms">Cough</h4>
                <p class="para-symptoms">Coughs that are "productive" get germy mucus out of your lungs when you're sick. Most will go away in a few days. After a cold, though, some "dry"coughs last weeks or months.</p>
            </div>

            <div class="col-lg-4 col1">
                <img src="images/headache.png" alt="headache" class="symptom-pic">
                <h4 class="heading-symptoms">Headache</h4>
                <p class="para-symptoms">If you have severe headaches or accompanying symptoms that are disrupting your life, it might be a good idea to see a neurologist.</p>
            </div>
        </div>
  </section>

<hr class="section-divider">

<section>
   <div class="row prevention center">
     <div class="prev-pos">
       <img
         src="https://www.flaticon.com/svg/static/icons/svg/2927/2927726.svg"
         width="100px"
         height="100px"
         style="display: inline-block"
       />
       <div style="display: inline-block" class="prev-title-box">
         <p class="prev-title">Covid-19 Prevention Tips</p>
       </div>
     </div>

     <div class="row">
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="images/wash.jpg"
           width="400"
         />
         <h4 class="heading-symptoms">Wash your hands</h4>
         <p class="para-prev">
           Clean your hands often. Use soap and water, or an alcohol-based
           hand rub.
         </p>
       </div>
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="images/mask.jpg"
           width="200"
         />
         <h4 class="heading-symptoms">Wear a mask</h4>
         <p class="para-prev">
           Wear a mask when physical distancing is not possible. Cover your
           nose and mouth when you cough or sneeze.
         </p>
       </div>
       <div class="prevention-box col-lg-4">
         <img
           class="prev-img"
           src="https://image.freepik.com/free-vector/man-hazmat-disinfection-concept_23-2148491772.jpg"
           width="200px"
         />
         <h4 class="heading-symptoms">Clean and disinfect</h4>
         <p class="para-prev">
           Clean all high use surfaces like countertops, door handles,
           furniture, laptops and mobiles with a disinfectant.
         </p>
       </div>
     </div>
   </div>
 </section>

 <script type="text/javascript">
   $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 3000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
 </script>
<%- include("partials/footer"); -%>
